.header, .hero, .footer {
    background-image: url('footer_background.png'); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
}

.four_div_in_footer {
    text-align: center;
}