/* Sahan - CSS for All pages */

.logo {
    height:65px;
    width:65px;
    border-radius: 5px;
    margin-left: 12px;
}

.navbar {
    background-color:rgb(13, 50, 129);

}

.navbar_list {
    text-align: center;
} 

.underground {
    height: 90px;
}

body {
    background-color:rgb(13, 50, 129);
}

.copyright {
    background-color: rgba(0, 0, 0, 0.2);
}




/* Sahan - CSS for Home Page */

.carousel-text {
    position: absolute;
    top: 30%;
    left: 28%;
    right: 28%;
    z-index: 20;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.choose {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




/* Sahan - CSS for Packages Page */

.package_catogory {
    text-align: center;
}